*{
    padding: 0;
    margin: 0;
}

body {
    background-color: lightgray;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
}

img {
    height: auto;
    width: 500px;

    display: block;
    margin: 0 auto;
}

h3 {
    text-align: center;
    margin: 20px 0;
}

p {
    padding: 0 30px;
}

ul {
    text-align: center;
    line-height: 30px;
}

li {
    list-style: none;
}

a {
    font-size: 1.2rem;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ol {
    padding: 0 30px;
}

h4 {
    margin: 15px 0;
}

.space {
    height: 100px;
}